@model IEnumerable<Timetable2.Models.User>
@{
    ViewBag.Title = "Пользователи";
}
<a asp-action="Create">Добавить пользователя</a>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Login</td>
        <td>Password</td>
        <td>RoleId</td>
        <td></td>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Login</td>
            <td>@user.Password</td>
            <td>@user.IdRole</td>
        </tr>
    }
</table>