@model Timetable.Models.User
@{
    ViewBag.Title = Model.Id;
}
<h2>User @Model.Id</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Login</dt>
        <dd>@Model.Login</dd>

        <dt>Password</dt>
        <dd>@Model.Password</dd>
    </dl>
</div>